<appSettings>
  <add key="MailServer" value="dev-smtp.vidlt.com"/>
  <add key="FacebookAppId" value="236336994348807"/>
  <add key="FacebookAppSecret" value="98c86f9feb108fb4ddab23fc1211c39c"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>